.post-date
	color #bbb
	text-transform uppercase
	td
		font-weight bold
	div
		background url(/img/date.png) no-repeat
		width 20px
		height 12px
		font-size 8px
		margin-right 10px
		font-weight normal
		padding-top 9px
		text-align center
		float left