.post-date
	color #bbb
	text-transform uppercase
	td
		font-weight bold
	div
		background url(/img/date.png) no-repeat
		width 20px
		height 12px
		font-size 8px
		margin-right 10px
		font-weight normal
		padding-top 9px
		text-align center
		float left
.post-actions a
    font-weight normal
    color #da552f
.url .post-url, .url .post-tagline
	color #000
.url .cat
	color #a3a3a3
	font-size 12px
	font-weight normal
	text-transform uppercase
	border 1px solid #ececec
	background-color #f5f5f5
	-webkit-border-radius 3px
	-moz-border-radius 3px
	border-radius 3px
.header
	.site-nav
		margin-top 16px