<template name="post_page">
  
	{{#if canView}}
    {{#with post}}
    <div class="single-post grid">
      {{> post_item}}
      {{#if canComment}}
      <div class="social-box">
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
      </div>
       <div id='blog-page-comments'>
        <!-- DISQUS COMMENT CODE -->
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                  var disqus_shortname = 'layogi'; // required: replace example with your forum shortname

                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    

        <!-- DISQUS COMMENT CODE -->
        </div>
       <!-- {{> comment_form}}-->
      {{/if}}
     <!-- {{> comment_list}}-->
    </div>
    {{/with}}
  {{/if}}
</template>
