<template name="post_item">

	{{# with post}}

	<tr class="post post-{{rank}} {{#if sticky}}sticky{{/if}} {{inactiveClass}}" id="{{_id}}">

		<td class="upvote">
			{{#if voted}}
			<span class="upvote-link voted"></span>
			{{else}}
			<a class="upvote-link not-voted" href="#"></a>
			{{/if}}

			<span data-id="3619" class="vote-count">{{votes}}</span>
		</td>

		<td class="user-image-td user-with-tooltip">
			<a href="{{profileUrl}}" class="user-image-link">
				<img width="60" height="60" src="{{userAvatar}}" class="user-image" alt="Caustinb">
			</a>

		</td>
		<td class="url">
			<a target="_blank" href="{{postLink}}" class="post-url">{{authorName}}</a>
			<span class="post-tagline">{{headline}}</span>
			<span class="post-actions">
				·
				<a data-id="3619" data-url="{{postLink}}" class="view-discussion" href="/posts/{{_id}}#disqus_thread"></a> 
			</span>
		</td>
		<td class="td-edit">
			{{#if can_edit}}<a href="/posts/{{_id}}/edit" class="edit-link goto-edit">Edit</a>
			{{/if}} {{#if currentUser.isAdmin}} | {{#if isApproved}}
			<a href="#" class="unapprove-link goto-edit">Unapprove</a>
			{{else}}
			<a href="#" class="approve-link goto-edit">Approve</a>
			{{/if}} | {{i18n "score"}}: {{short_score}}, {{i18n "clicks"}}: {{clicks}} {{/if}}
		</td>
	</tr>
	{{/with}}
</template>